<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auth Manager</title>
    <base href="/" />
    <!-- MudBlazor CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <!-- AuthManager custom CSS -->
    <link rel="stylesheet" href="_content/DotNetAuthManager.UI/css/authmanager.css" />
</head>
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <!-- MudBlazor JS -->
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_content/DotNetAuthManager.UI/js/authmanager.js"></script>
</body>
</html>
